body
{
	background: #b0cdff;
}
header
{
	height:70px;
	background:#1b2127;
	width:100%;
	color:#fff;
	position: fixed;
	top:-1px;
	z-index: 2;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.container{
	width: 1000px;
	margin: 0 auto;
	padding: 0 auto;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
}
ol
{
	display:flex;
	align-items:center;
	padding:0 10px;
	background:#1b2127;
	cursor:pointer;
	font-family:'Roboto',sans-serif;
	height:inherit
}
ol a
{
	padding:0 10px;
	color: #fff;
}
ol label
{
	padding: 0 10px
}
ol a:hover, label:hover
{
	border-radius: 20px;
	border:3px #026FFF solid;
	color: #026FFF;
}
.hero
{
	height:300px;
	background-color:#1b2127;
	display:flex;
	align-items:center;
	justify-content: space-between;
}

h1,h2,h3
{
	color:#026FFF;
	font-family:'Roboto',sans-serif
}

h4,h5,h6,p
{
	font-family:'Merriweather',serif;
}
h1
{
	color:#fff;
	font-size:36px;
	letter-spacing:-.2px;
	line-height:1.5;
}

h1 strong
{
	color:#026FFF;
	text-transform:uppercase
}
.hero_image{
	object-fit: cover;
}
.portafolio{
	background: #b0cdff;
}
h2
{
	font-size:28px;
	padding:10px;
	margin:10px;
	background: #fff;
	border-radius: 20px;
}

.project
{
	align-items:center;
	background:#fff;
	border-radius: 10px;
	display:flex;
	justify-content:space-between;
	margin-bottom:15px;
	
	padding:20px
}

.project-Details
{
	width:500px;
}

.project-Title,.event-Title
{
	color:#98CA3F
}

.project-Title
{
	font-size:26px;
	margin-bottom:10px
}

.project-Tool,.project-Date,.project-Url
{
	margin:10px 0
}

.project-Description
{
	font-size:20px
}

p strong
{
	font-family:'Roboto',sans-serif
}

.project-Image-Container
{
	width:500px
}
.eventos{
	background: #b0cdff;
	margin-bottom: 15px;
}

.event-list
{
	display:flex;
	flex-wrap:wrap;
	background: #fff;
	border-radius:10px;
}
.event
{
	width:480px;
	margin:10px;
	background:#98CA3F	;
	border-radius:10px;
	flex-shrink:0;
	overflow:hidden;
}

.event img
{
	height:200px;
	object-fit:cover;
	width:480px
}

.event-Title
{
	font-size:24px;
	font-family:'Roboto',sans-serif;
	padding-bottom: 5px;
}

.event-Detail
{
	background:#fff;
	margin:20px 40px;
	margin-top:-40px;
	padding:20px;
	position:relative;
	z-index: 1;
	line-height: 1.5;
	text-align:center	
}

.event-Description
{
	padding-bottom:20px;
	text-align:left
}

.event-link
{
	border:3px solid;
	border-radius:5px;
	color:#026FFF;
	font-family:'Roboto',sans-serif;
	padding:5px 20px
}
.contacto{
	background: #026FFF
}
.contact
{
	background:#026FFF;
	height:150px;
	display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    letter-spacing: 1px;
}
input
{
    background-image: url(../images/envelope.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    border-radius: 5px;
    padding: 5px 25px;
	margin: 10px 0;
	font-family:'Merriweather',serif;
	color:#1b2127;
}

form h3
{
	font-size:32px;
	color:#fff;
}
button {
	display: block;
	background: transparent;
	color: #fff;
	padding: 0 30px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
	font-family:'Roboto',sans-serif;
	line-height: 2;
	letter-spacing: 2px;
	border: 3px #fff solid;
}
button:hover, .event-link:hover
{
	color: #98CA3F;
	border:3px solid #98CA3F;
}

.social-link
{
    display: inline-block;
	width:50px;
	height:50px;
    background-size: 50px 50px;
	margin: 5px;
}
.social-link:hover
{	
	background-color:#98CA3F;
	border-radius: 15px;
}

a.social-link:nth-child(1)
{
    background-image: url(../images/instagram.svg);
}
a.social-link:nth-child(2)
{
    background-image: url(../images/facebook.svg);
}
a.social-link:nth-child(3)
{
    background-image: url(../images/twitter.svg);
}
a.social-link:nth-child(4)
{
    background-image: url(../images/linkedin.svg);
}
a.social-link:nth-child(5)
{
    background-image: url(../images/github.svg);
}

footer
{
	align-items:center;
	background:#1b2127;
	color:#fff;
	display:flex;
	justify-content:space-between;
	height: 70px;
}
footer p{
	display: flex;
	align-items: center;
	padding:0 20px;
}
.logo-platzi{
	margin: 0 10px;
}
footer a
{
	color:#fff
}

footer a:hover
{
	color:#98CA3F
}

footer img
{
	vertical-align:middle
}